// * { border: 1px solid #0ff; }
body {
  font-family: 'Tajawal', sans-serif;
	padding: 0;
	margin: 0;
  /*overflow: hidden;*/
  background-color: #323232;
}
#container {
  width: 600px;
  margin: auto;
}
header {
  margin-top: 1em;
  .title {
    color: #fff;
    text-align: center;
    font-size: 200%;
  }
  .function {
    font-size: 150%;
    color: #fff;
    text-align:center;
    background-color: #323232;
    border: 2px solid #fff;
    padding: 0.25em;
    border-radius: 5px;
    margin-bottom: 0.25em;
  }
}
#stage {
  text-align: center;
  position: relative;
  canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}
canvas {
  border: 2px solid #fff;
  border-radius: 5px;
}
.hovering {
  border: 2px solid #3ff;
}
#controls {
  color: #fff;
  font-size: 75%;
  text-align: center;
}
#presets {
  padding: 1em;
  text-align: center;
  button {
    padding: 0.25em 0.5em;
    margin: 0.1em;
  }
}
footer {
  padding: 0 0.5em;
  margin: 0;
  font-size: 200%;
  text-align: right;
  a {
    transition: color 250ms linear;
  }
}
